fastapi
uvicorn[standard]
SQLAlchemy
psycopg2-binary
alembic
scrapy
newspaper3k
requests
lxml[html_clean]
selenium
beautifulsoup4
psutil
sentry-sdk
pytest
pydantic
pydantic-settings
celery
redis
google-genai
python-dotenv
passlib[bcrypt]
python-jose
pgvector
numpy
nepali-datetime
